.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .nav-left{
        display: flex;
        align-items: center;
    }
    .nav-right{
        display: flex;
        align-items: center;
        justify-content:space-around;
        margin-left: 20px;
        position: relative;
        .nav-item{
            border-left: 1px;
            border-style: ridge;
        }
    }
}